*{
  outline:none;
}
html{
  margin:0;
}

body{
  color:#dbdbdb;
  font-size:10px;
  font-family:'DM Sans',Arial;sans-serif;
  background-color:#18181c;
}

h1{
  font-size:3em;
}

footer{
  text-align:right;
}

p, label, input, select, textarea{
  font-size:1.4em;
}

label{
  display:flex;
  vertical-align:center;
  align-items:center;
  margin-bottom:5px;
}

input, select, textarea{
  display:block;
  color:#fff;
  border:1px solid #2e2e2e;
  background-color:#393942;
  width:100%;
  padding:15px;
  margin-bottom:25px;
  transition: border 1s;
  border-radius:3px;
}

input:focus, select:focus, textarea:focus{
  border-color:#4b43f0;
}

input, textarea{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset{
  padding:0;
  margin:0;
  border:0;
}

.wrapper{
  max-width:600px;
  margin:auto;
  padding:25px;
}

.input-checkbox, .input-radio{
  display:inline-block;
  width:25px;
  margin:0;
}

.checkbox-label, .radio-label{
  margin:15px 0;
}

.input-textbox{
  min-height:150px;
  resize:vertical;
}

.input-group{
  margin-bottom:50px;
}

.input-submit{
  background-color:#3b35b8;
  transition:all 0.8s;
}

.input-submit:hover{
  background-color:#5048fa;
}
